{% extends 'base.html' %}
{% load i18n %}
{% load cache %}

{% block title %}{% trans 'Employee List' %} {% endblock %}
{% block content %}
{% if messages %}
<div class="container mt-3">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}

<div class="container mt-4">

    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search" name="search" value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">{% trans 'Filter' %}</button>
            </div>
        </div>
    </form>
    <div class="row mb-3">
        <a href="{% url 'salary_calc' %}" class="btn btn-info">Salary Calculator</a>
    </div>
    <table class="table employee-list">
        <thead>
        <tr>
            <th id="name-table-header">{% trans 'name_trans_1' %}</th>
            <th>{% trans 'Last Name' %}</th>
            <th>{% trans 'Email' %}</th>
            <th>{% trans 'Position' %}</th>
            <th>{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        {% cache 15 employee_list %}
            {% for employee in employees %}
            <tr>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ employee.position.title }}</td>
                <td>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'employee_update' employee.pk %}" class="btn btn-primary">{% trans 'Update' %}</a>
                    <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
                    <a href="{% url 'employee_details' employee.pk %}" class="btn btn-success">{% trans 'View' %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endcache %}
        </tbody>
    </table>
</div>
{% endblock %}